.owl-carousel .animated {
    -webkit-animation-duration: 1000ms;
    animation-duration: 1000ms;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both
}
.owl-carousel .owl-animated-in {
    z-index: 0
}
.owl-carousel .owl-animated-out {
    z-index: 1
}
.owl-carousel .fadeOut {
    -webkit-animation-name: fadeOut;
    animation-name: fadeOut
}
@-webkit-keyframes fadeOut {
    0% {
        opacity: 1
    }
    100% {
        opacity: 0
    }
}
@keyframes fadeOut {
    0% {
        opacity: 1
    }
    100% {
        opacity: 0
    }
}
.owl-height {
    -webkit-transition: height 500ms ease-in-out;
    -moz-transition: height 500ms ease-in-out;
    -ms-transition: height 500ms ease-in-out;
    -o-transition: height 500ms ease-in-out;
    transition: height 500ms ease-in-out
}
.owl-carousel {
    display: none;
    width: 100%;
    -webkit-tap-highlight-color: transparent;
    position: relative;
    z-index: 1
}
.owl-carousel .owl-stage {
    position: relative;
    -ms-touch-action: pan-Y
}
.owl-carousel .owl-stage:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0
}
.owl-carousel .owl-stage-outer {
    position: relative;
    overflow: hidden;
    -webkit-transform: translate3d(0px, 0, 0);
	height: 600px;
	/*padding-left: 15px;*/
	padding-left: 13px;
}
.owl-carousel .active:first-of-type{
}
.owl-carousel .owl-item {
    position: relative;
    min-height: 1px;
    float: left;
    -webkit-backface-visibility: hidden;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
}
.owl-carousel .owl-item img {
    display: block;
    width: 100%;
    -webkit-transform-style: preserve-3d
}
.owl-carousel .owl-dots.disabled,
.owl-carousel .owl-nav.disabled {
    display: none
}
.owl-carousel .owl-dot,
.owl-carousel .owl-nav .owl-next,
.owl-carousel .owl-nav .owl-prev {
    cursor: pointer;
    cursor: hand;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}
.owl-carousel .owl-nav .owl-next,
.owl-carousel .owl-nav .owl-prev{
	position: relative;
    display: inline-block;
    overflow: visible;
    margin: -1.9px;
    padding: 0.8em 1.1em;
    box-shadow: none;
    text-transform: uppercase;
    text-shadow: none;
    font-size: 20px;
    cursor: crosshair;
    -webkit-transition: all .1s ease-in 0s;
    -moz-transition: all .1s ease-in 0s;
    -o-transition: all .1s ease-in 0s;
    transition-property: all .1s ease-in 0s;
    -webkit-font-smoothing: antialiased;
	border: 1px solid #bbbbbb;
	color: #333333;
	font-family: FontAwesome;
}
.owl-carousel .owl-nav .owl-prev:before{
	content: "\f104";  /* this is your text. You can also use UTF-8 character codes as I do here */
    font-family: FontAwesome;
}
.owl-carousel .owl-nav .owl-next:before{
	content: "\f105";  /* this is your text. You can also use UTF-8 character codes as I do here */
    font-family: FontAwesome;
}
.owl-carousel.owl-loaded {
    display: block
}
.owl-carousel.owl-loading {
    opacity: 0;
    display: block
}
.owl-carousel.owl-hidden {
    opacity: 0
}
.owl-carousel.owl-refresh .owl-item {
    display: none
}
.owl-carousel.owl-drag .owl-item {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
	font-family: "Noto Sans KR", sans-serif;
}
.owl-carousel.owl-grab {
    cursor: move;
    cursor: -webkit-grab;
    cursor: -o-grab;
    cursor: -ms-grab;
    cursor: grab
}
.owl-carousel.owl-rtl {
    direction: rtl
}
.owl-carousel.owl-rtl .owl-item {
    float: right
}
.no-js .owl-carousel {
    display: block
}
.owl-carousel .owl-item .owl-lazy {
    opacity: 0;
    -webkit-transition: opacity 400ms ease;
    -moz-transition: opacity 400ms ease;
    -ms-transition: opacity 400ms ease;
    -o-transition: opacity 400ms ease;
    transition: opacity 400ms ease
}
.owl-carousel .owl-item img {
    transform-style: preserve-3d
}
.owl-carousel .owl-video-wrapper {
    position: relative;
    height: 100%;
    background: #000
}
.owl-carousel .owl-video-play-icon {
    position: absolute;
    height: 80px;
    width: 80px;
    left: 50%;
    top: 50%;
    margin-left: -40px;
    margin-top: -40px;
    background: url('owl.video.play.png') no-repeat;
    cursor: pointer;
    z-index: 1;
    -webkit-backface-visibility: hidden;
    -webkit-transition: scale 100ms ease;
    -moz-transition: scale 100ms ease;
    -ms-transition: scale 100ms ease;
    -o-transition: scale 100ms ease;
    transition: scale 100ms ease
}
.owl-carousel .owl-video-play-icon:hover {
    -webkit-transition: scale(1.3, 1.3);
    -moz-transition: scale(1.3, 1.3);
    -ms-transition: scale(1.3, 1.3);
    -o-transition: scale(1.3, 1.3);
    transition: scale(1.3, 1.3)
}
.owl-carousel .owl-video-playing .owl-video-play-icon,
.owl-carousel .owl-video-playing .owl-video-tn {
    display: none
}
.owl-carousel .owl-video-tn {
    opacity: 0;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
    -webkit-transition: opacity 400ms ease;
    -moz-transition: opacity 400ms ease;
    -ms-transition: opacity 400ms ease;
    -o-transition: opacity 400ms ease;
    transition: opacity 400ms ease
}
.owl-carousel .owl-video-frame {
    position: relative;
    z-index: 1;
    height: 100%;
    width: 100%
}
.owl-theme .owl-nav {
    width: 1280px;
    text-align: center;
    -webkit-tap-highlight-color: transparent;
    margin: 0 auto;
    text-align: left;
    box-sizing: border-box;
    padding: 0 0 0 72px;
    margin-top: -480px;
}
.owl-theme .owl-nav [class*=owl-] {
    margin-right:15px;
    display: inline-block;
    cursor: pointer;
	position: relative;
    display: inline-block;
    overflow: visible;
    padding: 10px 17px;
    box-shadow: none;
    text-transform: uppercase;
    text-shadow: none;
    font-size: 20px;
    cursor: crosshair;
    -webkit-transition: all .1s ease-in 0s;
    -moz-transition: all .1s ease-in 0s;
    -o-transition: all .1s ease-in 0s;
    transition-property: all .1s ease-in 0s;
    -webkit-font-smoothing: antialiased;
}
.owl-theme .owl-nav [class*=owl-]:hover {
    text-decoration: none;
	border:1px solid #8d8d8d;
}
.owl-theme .owl-nav .disabled {
    opacity: .5;
    cursor: default
}
.owl-theme .owl-nav.disabled+.owl-dots {
    margin-top: 10px
}
.owl-theme .owl-dots {
    text-align: center;
    -webkit-tap-highlight-color: transparent
}
.owl-theme .owl-dots .owl-dot {
    display: inline-block;
    zoom: 1;
    *display: inline
}
.owl-theme .owl-dots .owl-dot span {
    width: 10px;
    height: 10px;
    margin: 5px 7px;
    background: #D6D6D6;
    display: block;
    -webkit-backface-visibility: visible;
    -webkit-transition: opacity 200ms ease;
    -moz-transition: opacity 200ms ease;
    -ms-transition: opacity 200ms ease;
    -o-transition: opacity 200ms ease;
    transition: opacity 200ms ease;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
}
.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
    background: #ff8700
}

/**************************************************2��°*****************************************************/
.owl-carousel2 .animated {
    -webkit-animation-duration: 1000ms;
    animation-duration: 1000ms;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both
}
.owl-carousel2 .owl-animated-in {
    z-index: 0
}
.owl-carousel2 .owl-animated-out {
    z-index: 1
}
.owl-carousel2 .fadeOut {
    -webkit-animation-name: fadeOut;
    animation-name: fadeOut
}
@-webkit-keyframes fadeOut {
    0% {
        opacity: 1
    }
    100% {
        opacity: 0
    }
}
@keyframes fadeOut {
    0% {
        opacity: 1
    }
    100% {
        opacity: 0
    }
}
.owl-height {
    -webkit-transition: height 500ms ease-in-out;
    -moz-transition: height 500ms ease-in-out;
    -ms-transition: height 500ms ease-in-out;
    -o-transition: height 500ms ease-in-out;
    transition: height 500ms ease-in-out
}
.owl-carousel2 {
    display: none;
    width: 100%;
    -webkit-tap-highlight-color: transparent;
    position: relative;
    z-index: 1
}
.owl-carousel2 .owl-stage {
    position: relative;
    -ms-touch-action: pan-Y
}
.owl-carousel2 .owl-stage:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0
}
.owl-carousel2 .owl-stage-outer {
    position: relative;
    -webkit-transform: translate3d(0px, 0, 0);
	width: 100%;
	margin-top: 50px;
    float: left;
}
.owl-carousel2 .active:first-of-type{
	/*border:1px solid red;*/
}
.owl-carousel2 .owl-item {
    position: relative;
    min-height: 1px;
    float: left;
    -webkit-backface-visibility: hidden;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
}
.owl-carousel2 .owl-item img {
    display: block;
    width: 100%;
    -webkit-transform-style: preserve-3d
}
.owl-carousel2 .owl-dots.disabled,
.owl-carousel2 .owl-nav.disabled {
    display: none
}
.owl-carousel2 .owl-dot,
.owl-carousel2 .owl-nav .owl-next,
.owl-carousel2 .owl-nav .owl-prev {
    cursor: pointer;
    cursor: hand;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}
.owl-carousel2 .owl-nav .owl-next,
.owl-carousel2 .owl-nav .owl-prev{
	position: relative;
    display: inline-block;
    overflow: visible;
    margin: -1.9px;
    padding: 0.8em 1.1em;
    box-shadow: none;
    text-transform: uppercase;
    text-shadow: none;
    font-size: 20px;
    cursor: crosshair;
    -webkit-transition: all .1s ease-in 0s;
    -moz-transition: all .1s ease-in 0s;
    -o-transition: all .1s ease-in 0s;
    transition-property: all .1s ease-in 0s;
    -webkit-font-smoothing: antialiased;
	border: 1px solid #ffffff;
	border:1px solid rgba(255, 255, 255, 0.5);
	color: #333333;
	font-family: FontAwesome;
}
.owl-carousel2 .owl-nav .owl-prev:before{
	content: "\f104";  /* this is your text. You can also use UTF-8 character codes as I do here */
    font-family: FontAwesome;
	color:#ffffff;
}
.owl-carousel2 .owl-nav .owl-next:before{
	content: "\f105";  /* this is your text. You can also use UTF-8 character codes as I do here */
    font-family: FontAwesome;
	color:#ffffff;
}
.owl-carousel2.owl-loaded {
    display: block
}
.owl-carousel2.owl-loading {
    opacity: 0;
    display: block
}
.owl-carousel2.owl-hidden {
    opacity: 0
}
.owl-carousel2.owl-refresh .owl-item {
    display: none
}
.owl-carousel2.owl-drag .owl-item {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
	font-family: "Noto Sans KR", sans-serif;
}
.owl-carousel2.owl-grab {
    cursor: move;
    cursor: -webkit-grab;
    cursor: -o-grab;
    cursor: -ms-grab;
    cursor: grab
}
.owl-carousel2.owl-rtl {
    direction: rtl
}
.owl-carousel2.owl-rtl .owl-item {
    float: right
}
.no-js .owl-carousel2 {
    display: block
}
.owl-carousel2 .owl-item .owl-lazy {
    opacity: 0;
    -webkit-transition: opacity 400ms ease;
    -moz-transition: opacity 400ms ease;
    -ms-transition: opacity 400ms ease;
    -o-transition: opacity 400ms ease;
    transition: opacity 400ms ease
}
.owl-carousel2 .owl-item img {
    transform-style: preserve-3d
}
.owl-carousel2 .owl-video-wrapper {
    position: relative;
    height: 100%;
    background: #000
}
.owl-carousel2 .owl-video-play-icon {
    position: absolute;
    height: 80px;
    width: 80px;
    left: 50%;
    top: 50%;
    margin-left: -40px;
    margin-top: -40px;
    background: url('owl.video.play.png') no-repeat;
    cursor: pointer;
    z-index: 1;
    -webkit-backface-visibility: hidden;
    -webkit-transition: scale 100ms ease;
    -moz-transition: scale 100ms ease;
    -ms-transition: scale 100ms ease;
    -o-transition: scale 100ms ease;
    transition: scale 100ms ease
}
.owl-carousel2 .owl-video-play-icon:hover {
    -webkit-transition: scale(1.3, 1.3);
    -moz-transition: scale(1.3, 1.3);
    -ms-transition: scale(1.3, 1.3);
    -o-transition: scale(1.3, 1.3);
    transition: scale(1.3, 1.3)
}
.owl-carousel2 .owl-video-playing .owl-video-play-icon,
.owl-carousel2 .owl-video-playing .owl-video-tn {
    display: none
}
.owl-carousel2 .owl-video-tn {
    opacity: 0;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
    -webkit-transition: opacity 400ms ease;
    -moz-transition: opacity 400ms ease;
    -ms-transition: opacity 400ms ease;
    -o-transition: opacity 400ms ease;
    transition: opacity 400ms ease
}
.owl-carousel2 .owl-video-frame {
    position: relative;
    z-index: 1;
    height: 100%;
    width: 100%
}
.owl-carousel2.owl-theme .owl-nav {
    text-align: center;
    -webkit-tap-highlight-color: transparent;
    margin: 0 auto;
    text-align: left;
    box-sizing: border-box;
	padding:0;
	width:auto;
	position: absolute;
    top: 50px;
    left: 300px;
}
.owl-carousel2.owl-theme .owl-nav [class*=owl-] {
    margin-right:15px;
    display: inline-block;
    cursor: pointer;
	position: relative;
    display: inline-block;
    overflow: visible;
    padding: 10px 17px;
    box-shadow: none;
    text-transform: uppercase;
    text-shadow: none;
    font-size: 20px;
    cursor: crosshair;
    -webkit-transition: all .1s ease-in 0s;
    -moz-transition: all .1s ease-in 0s;
    -o-transition: all .1s ease-in 0s;
    transition-property: all .1s ease-in 0s;
    -webkit-font-smoothing: antialiased;
}
.owl-carousel2.owl-theme .owl-nav [class*=owl-]:hover {
    text-decoration: none;
	border: 1px solid #ffffff;
}
.owl-carousel2.owl-theme .owl-nav .disabled {
    opacity: .5;
    cursor: default
}
.owl-carousel2.owl-theme .owl-nav.disabled+.owl-dots {
    margin-top: 10px
}
.owl-carousel2.owl-theme .owl-dots {
    text-align: center;
    -webkit-tap-highlight-color: transparent
}
.owl-carousel2.owl-theme .owl-dots .owl-dot {
    display: inline-block;
    zoom: 1;
    *display: inline
}
.owl-carousel2.owl-theme .owl-dots .owl-dot span {
    width: 10px;
    height: 10px;
    margin: 5px 7px;
    background: #D6D6D6;
    display: block;
    -webkit-backface-visibility: visible;
    -webkit-transition: opacity 200ms ease;
    -moz-transition: opacity 200ms ease;
    -ms-transition: opacity 200ms ease;
    -o-transition: opacity 200ms ease;
    transition: opacity 200ms ease;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
}
.owl-carousel2.owl-theme .owl-dots .owl-dot.active span,
.owl-carousel2.owl-theme .owl-dots .owl-dot:hover span {
    background: #ff8700
}